@model IEnumerable<EF.TASK>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_TASK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USER1.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_TASK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USER1.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_TASK }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID_TASK }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID_TASK })
        </td>
    </tr>
}

</table>
